.profileDiv
  width: 90%
  margin: auto


.keys
  float: left
  width: 10%

.values
  float:left
  wdith: 90%


.slides
  display: inline-block
  width: 100%
  margin: auto

.keys > div
  padding: 8px 0

.values > div
  padding: 8px 0


.institution
  display: inline
  margin-right: 10px
  padding: 3px 5px
  border-radius: 3px
  background-color: grey

.linkText
  color: black
  text-decoration: none


